.orange {
  color: #ff4d30;
}

.hero-section {
  position: relative;
  height: 94vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section .container {
  height: 100%;
  padding: 10px 8%;
}
.bg-shape {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.hero-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-content img {
  z-index: 2;
}

.hero-content__text h4 {
  color: #010103;
  font-size: 28px;
}
.hero-content__text h1 {
  color: #010103;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-top: 10px;
}

.hero-content__text p {
  color: #706f7b;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.hero-content__btns {
  display: flex;
  gap: 10px;
}
.hero-content__btns a {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
}

.hero-content__text__btns__book-ride {
  background-color: #ff4d30;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  color: #fff;
  cursor: pointer;
  padding: 22px 40px;
  transition: all 0.3s;
}

.hero-content__text__btns__learn-more {
  background-color: black;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  color: #fff;
  cursor: pointer;
  padding: 22px 40px;
  transition: all 0.3s;
}

@media (max-width: 800px) {
  .hero-section{
    height: 100vh;
  }
  .bg-shape {
    display: none;
  }
  .hero-content img {
    display: none;
  }
  .hero-section .container {
    padding: 10px 5%;
  }
  .hero-content__text {
    text-align: center;
    margin-top: 70px;
  }
  .hero-content__btns {
    flex-direction: column;
    align-items: center;
  }
  .hero-content__btns a {
    width: 70%;
  }
}
